body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(177, 176, 166);
}


.btn-topo {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;    
    padding: 3px 0px 0px 2px;    
    background-color: #1da0b7;    
    z-index: 3;
    font-size: 1.5em;
    font-weight: bold;
    color: white;    
}

section img{
    width: 15vw;
    height: 15vw;
    padding: 5px 5px;
    justify-content: space-between;
}

#funcao-transporte{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer, header {
     background-color: rgb(54, 12, 34); 
    color: #ffffff;  
}


#funcao-transporte-metro{
    display: flex;
    justify-content: left;
    align-items: left;
}

